@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  /* background-color: #c0dbee; */
  /* background-image: url('./assets/background.webp'); */
  background-image: url("./assetes/fondo_business_card.png");
  background-size: cover;
  text-align: center;
  min-height: 100vh; /* Asegura que la altura mínima de la App ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.App-footer,
.App-header {
  /* background-color: #011830ce; */
  background-color: #263726d5;
  color: #ead8b1;
  min-height: 30px;
  padding: 10px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.header-title {
  /* color: #ead8b1; */
  color: #f4f6f4d5;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px #1cff14d5;
  flex-grow: 1;
  text-align: center;
}

.additional-info {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
}

.link {
  display: block;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.spinner {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #ffffff;
}

.link:hover {
  text-decoration: underline;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* z-index: 1000;  */
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: rgb(226, 255, 193);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.button {
  background-color: #1cff14d5;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .header-title {
    font-size: 4vw;
  }
  .footer-title {
    font-size: 0.8rem;
  }
  .App-header button,
  .App-footer {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .additional-info {
    font-size: 1.5rem;
  }
  .link {
    font-size: 1.5rem;
  }
  .hidden-on-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
