@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  /* background-color: #c0dbee; */
  /* background-image: url('./assets/background.webp'); */
  background-image: url("./assets/Wave-Labs_Fondo.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  /* font-family: Zen Dots, monospace, Verdana, Geneva, Tahoma, sans-serif; */
  text-align: center;
  min-height: 100vh; /* Asegura que la altura mínima de la App ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.App-footer,
.App-header {
  background-color: #011830ce;
  color: #ead8b1;
  min-height: 20px;
  padding: 0px 10px 0px 10px;
}

.App-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-title {
  /* color: #ead8b1; */
  color: #e4dfed;
  font-size: 2.5rem;
  /* text-shadow: 3px 3px 6px #1cff14d5; */
  text-shadow: 3px 3px 6px #9283a8d5;
  flex-grow: 1;
  text-align: center;
}

.additional-info {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
}

.link {
  display: block;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.spinner {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #ffffff;
}

.link:hover {
  text-decoration: underline;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* z-index: 1000;  */
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  /* color: rgb(226, 255, 193); */
  color: #e4dfed;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.App-header button {
  font-size: 0.8rem;
  background-color: #2563eb;
  color: #e4dfed;
  box-shadow: none;
  /* margin: 15px 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px; */
}

.App-header button:hover {
  background-color: #2563eb;
  color: #e4dfed;
  box-shadow: none;
  scale: 1.05;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .header-title {
    font-size: 4vw;
  }
  .footer-title {
    font-size: 0.8rem;
  }

  .App-header button,
  .App-footer {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .additional-info {
    font-size: 1.5rem;
  }
  .link {
    font-size: 1.5rem;
  }
  .hidden-on-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
